<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Inventory | HOME</title>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <img src="static/img/retail-inventory.jpg" alt="broken image" height="100px" width="180px">
              <div class="row login-register">
                <a type="button" class="btn btn-success mr-1" id="login" href="login">LOGIN</a>
                <a type="button" class="btn btn-warning mr-1" id="register" href="register">REGISTER</a>
<!--                <a type="button" class="btn btn-primary mr-1" id="contactus" href="contact.html">CONTACT US</a> -->
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">About us</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Mission</h5>
                      <p class="card-text">Building a one-stop place for retailers inventory</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Vision</h5>
                      <p class="card-text">Our main objective is to create an easy and hastlefree page to check all the inventory details.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Objective</h5>
                      <p class="card-text">Retail industry needs to keep their inventory details 
                      up-to date and needs a timely checking for the goods they have present for 
                      them to use. This web application fetches all the inventory details for a
                      particular user.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
            <div class="container mt-5">
              <div class="row">
<!--
                <div class="col-sm-12 col-md-6">
                  <h3>Retail Inventory Details</h3>
                  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Voluptatum quis, reiciendis id magni magnam, accusamus nobis in,
                      temporibus molestias ab placeat rerum aperiam illum perspiciatis 
                      ducimus non! Fugiat, odit ducimus.</p>
                </div>
-->
                <div class="col-xs-6 col-md-3">
                  <h4>Get in Touch</h4>
                  <ul class="footer-links">
                    <li><a href="mailto:test@gmail.com">retinvcheck@gmail.com</a></li>
                    <li><a href="">1800-RET-INVC</a></li>
                  </ul>
                </div>

                
              </div>
            <hr>
            
                
              </div>
            </div>
      </footer>
       

          </body>
</html>