<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Inventory | Registration</title>
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<style>
        .header { padding: 30px;
                  text-align: center;
                  background: #00000;
                  color: blue;
                  font-size: 20px;
                }
                
        .msg { color: green; }
        
</style>
<body>
    <!-- bootstrap navbar -->
    <div class="logo mt-3 text-center">
        <div class="header">
            <h1>Retail Inventory Management Registration Page</h1>
<!--           <a href="home"><h1>Retail Inventory Management Registration Page</h1></a> -->
        </div>
        <img src="static/img/retail-inventory.jpg" alt="broken image" height="80px" width="180px">
<!--             <a href="home"><img src="static/img/retail-inventory.jpg" alt="broken image" height="80px" width="180px"></a> -->
            <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
    </div>

      <!-- navbar ends -->
    <!-- Login form -->
    <div class="login text-center mt-5"> 
        <h2> Registration Form </h2>
        <form action="/register" method="post">
        <div class="msg"><h5>{{ msg }}</h5></div>
            </br>
            <!-- <input type="text" placeholder="fullname" id="fullname"> </br></br> -->
            
<!--            <input type="text" name="username" placeholder="Enter Your Username"  id="username" required></br></br> -->
            <input type="fname" name="fname" size="30" placeholder="Enter First Name"  id="fname" required></br></br>
			<input type="lname" name="lname" size="30" placeholder="Enter Last Name"  id="lname" required></br></br>
			<input type="email" name="email" size="30" placeholder="Enter Your Email ID"  id="email" required></br></br>
			<input type="text" name="aadhar" size="30" placeholder="Enter Your AADHAR Number"  id="aadhar" required></br></br>
			<input type="password" name="password" size="30" placeholder="Enter Your Password" id="password" required></br>
			
            </br>
        <button type="submit" id="button" class="btn btn-primary"> Register </button>
        </form>
    </div>

    <div class="note mt-3 text-center"> <!--Register form -->
    <p> Already have an account ? please  <a href="/login">login here </a> </p>
   
    </div>
</body>
</html>

